.inputWrapper {
  position: relative;

  & > div {
    box-sizing: border-box;
    border-radius: 4px;
  }
}

.label {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
}

.Input {
  display: flex;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;

  resize: none;
  background-color: var(--base-100);
  border: 1px solid var(--base-400);
  border-radius: 8px;
  outline: none;

  &::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: var(--content-800);
  }
}

.Placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  font-size: 16px;
  color: var(--content-800);
  pointer-events: none;
  transform: translateY(-50%);
}

.errorText {
  height: 12px;
  font-size: 12px !important;
  line-height: 140% !important;
}

.eye {
  position: absolute;
  top: 7px;
  right: 14px;
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;

  svg {
    path {
      stroke: var(--content-700);
    }
  }
}

.error {
  & .Input {
    border-color: var(--additional-error);
  }

  & .label {
    color: var(--additional-error);
  }
}
