:root {
  --additional-warning: #ffa800;
  --additional-error: #ff3c38;
  --additional-success: #439522;
  --content-700: #a0a9bc;
  --content-800: #66707f;
  --content-900: #181c25;
  --base-400: #d0d4dd;
  --base-300: #e8eaee;
  --base-200: #f2f2f4;
  --base-100: #ffffff;

  --shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  --navbar-height: 60px;
  --sidebar-width: 300px;
}

@mixin scroll($color: var(--content-700), $width: 5px, $height: 8px) {
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: $width;
    height: $height;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1180px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}
