.Layout {
  display: grid;
  height: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--navbar-height) minmax(calc(100vh - var(--navbar-height)), auto);
  grid-template-areas:
    'header header'
    'sidebar content';
}
.header {
  padding: 15px 0;
  background-color: var(--base-100);
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: var(--shadow);
  grid-area: header;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.container {
  padding: 20px;
  flex-grow: 1;
  grid-area: content;
  height: 100%;
}
