@import '../../index.scss';

.SettingsMenu {
  width: fit-content;
}

.settingsBar {
  cursor: pointer;

  svg {
    stroke: var(--content-800);
    path {
      fill: var(--content-800);
    }
  }
}

.settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 250px;
  padding: 8px 4px;
  overflow-y: auto;
  background-color: var(--base-100);
  border-radius: 4px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  @include scroll;
}

.menuItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 4px 8px;
  color: var(--content-900);
  cursor: pointer;
  border-radius: 6px;

  &:hover {
    background-color: var(--base-300);
  }

  & > p {
    font-size: 14px;
    text-align: left;
    line-height: 125%;
  }
}

.active {
  height: auto;
  visibility: visible;
  opacity: 1;
  animation: show 0.3s forwards;
}

.showUnder {
  top: auto;
  bottom: 100%;
}

.disabled {
  cursor: default;
  & > p {
    color: var(--content-800);
  }

  &:hover {
    background-color: transparent;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
